@import "tailwindcss";

*{
    box-sizing: border-box;
    font-family:'jost';
}
.tox-statusbar__branding,.tox-statusbar__help-text{
    display: none;
}


.tox-tinymce{
    margin: 0 auto;
    width: 700px;
    height: 200px !important;
}



body{
    background: #fff;
    color: #212325;
}

.input-container{
    color: #787e86;
    display: flex;
    border: 1px solid grey;
    outline: none;
    margin-top: 10px;
    padding: 10px 0 10px 5px;
    width: 500px;
    justify-self: center;
    border-radius: 10px;
    cursor: text;
}

.form{
    padding: 10px 0 10px 5px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

#title, #content {
    width: 400px;
    height: 100%;
    outline: none;
    border: none;
    color: #fff;
    background-color: #212325;

}

title textarea{
    font-weight: 600;
}

.submit-btn{
    background: rgba(128, 128, 128, 0.836);
    border: none;
    color: #ffffffaf;   
    border-radius: 4px;
    width: 200px;
    margin: 0 auto;
    align-items: center;
    padding: 5px 0 5px 0;
    cursor: pointer;

}

.dashboard-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.submit-btn:hover{
    background: rgba(128, 128, 128, 0.836);
    color: #fff;
}

.noteContainer{
    width: 1040px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 30px 20px 30px;
    z-index: 4;
    font-family: "jost";
}

.noteHeader{
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.delete-icon{
    cursor: pointer;
}

.note title{
    font-size: 20px;
    font-weight: 600;
    background-color: #fff;
    color: blue;
}

.note{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "jost";
    border: 1px solid #787e86;
    max-width: 300px;
    max-height: 250px;
    padding: 15px 15px;
    scroll-behavior: smooth;
    border-radius: 10px;
    overflow-y: scroll;
}

.notes-empty{
    padding-top: 50px;
    width: 100%;
    text-align: center;
}



.note::-webkit-scrollbar{
    display: none;
    
}
